.post-list {
  padding: 25px;
}
.post-list:empty {
  display: none;
}
.post_item {
  margin-top: 15px;
}
.post_item span {
  font-weight: bold;
}

.post_item i {
  color: #5981c6;
  float: right;
}

.not_found_post {
  line-height: 100vh;
  margin: auto;
  width: fit-content;
  font-size: 20px;
}