.setting {
  height: 100vh;
  padding: 25px;
}

.setting_item {
  margin-top: 5vh;
}

.setting_item > li > div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.setting_item > li > div > span {
  width: 25%;
  margin-right: 10px;
  font-weight: bold;
  text-align: right;
}

.setting_item > li > div > p {
  margin: 0;
}

.setting_item > li > div > i {
  font-style: normal;
  color: #999;
  font-size: 12px;
  margin-left: 10px;
}

.setting_item > li > div > input {
  max-width: 50%;
  height: 40px;
}
.setting_item > li > div .nes-select {
  width: unset;
  height: 40px;
}
.nes-select select {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.setting_item > li:last-child {
  width: fit-content;
  margin: 0 auto;
}

/* ===================滑动开关样式begin===================== */

#set_isextra .switch {
  position: relative;
  height: 25px;
}

#set_isextra input {
  position: absolute;
  width: 55px;
  height: 25px;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 999;
}

.circle {
  width: 55px;
  height: 25px;
  border: 1px solid #ff4949;
  background-color: #ff4949;
  border-radius: 50px;
  position: absolute;
  box-sizing: content-box;
}
.circle::before {
  content: "NO";
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  background-color: #fff;
  transition: all 0.5s;
}

#set_isextra input:checked + .circle::before {
  content: "YES";
  left: 55%;
}

#set_isextra input:checked + .circle {
  border-color: transparent;
  background: linear-gradient(to right, #12c2e9, #c471ed);
}

/* =============滑动开关样式end================== */
.sak-input input {
  width: 100%;
}

#set_save {
  padding: 6px 20px;
}
