.new_post {
  position: relative;
}
.new_post .top {
  width: calc(100% - var(--asidewidth));
  padding: 10px 5%;
  box-shadow: 0 5px 20px 0 #eee;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #eee;
  background-color: #fff;
  transition: width 0.2s ease-in-out;
}

.top h1 {
  float: left;
  outline: none;
}
.top i {
  font-style: normal;
  color: #999;
  font-size: 12px;
  margin-left: 10px;
  vertical-align: sub;
}

.top div {
  float: right;
}

.tags-list {
  text-align: right;
  margin-right: 5%;
}

.tags-list input {
  margin-top: 2em;
  outline: none;
}

.tags-list::before {
  content: "";
  height: 80px;
  display: block;
}

#edit_area {
  margin-top: 2%;
  background-color: #777;
  outline: none;
  overflow-x: hidden;
  font-size: 13.6px;
  min-height: 0.8rem;
  background: rgb(247, 247, 247);
  padding: 1rem;
  border-radius: 3px;
  color: rgb(119, 119, 119);
  width: 83%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#edit_area::after {
  content: "";
  height: 70vh;
  display: block;
}

#edit_area *::selection {
  color: white;
  background-color: pink;
}

#edit_area div {
  text-indent: 2em;
}

#edit_area div:empty::before {
  content: "请写下你的想法...";
  color: gray;
}
