ul.post_list {
  padding: 25px;
}
/* 用来处理当列表为空时,padding仍然占了空间的效果 */
.post_list:empty {
  display: none;
}
.post_item {
  margin-top: 15px;
}
.post_item span {
  font-weight: bold;
}

.post_item i {
  color: var(--primaryColor);
  float: right;
}

.not_found_post {
  line-height: 100vh;
  margin: auto;
  width: fit-content;
  font-size: 20px;
}
